* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.swalle-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.swalle-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.swalle-image.active {
  opacity: 1;
}

.swalle-arrow {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  z-index: 2;
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swalle-arrow svg {
  height: 50px;
  fill: #000;
}

.swalle-arrow--prev {
  left: 20px;
}

.swalle-arrow--next {
  right: 20px;
}

.swalle-pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  translate: -50%;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.swalle-pagination-item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.swalle-pagination-item-active {
  background-color: #fff;
}
